name: Nullicn Build
on: push

permissions:
  contents: write  # 必须赋予写入权限，否则无法部署到 gh-pages 分支

jobs:
  npm-build:
    name: Nullicn NPM Build
    runs-on: ubuntu-latest
    steps:
      - name: 读取仓库内容
        uses: actions/checkout@v4

      - name: 配置 Node.js 22 环境
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: 安装依赖并构建项目
        run: |
          npm install
          npm run build

      - name: 部署到 GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: NULLICN build page  # 部署到 gh-pages 分支
          folder: build     # 指定要部署的构建产物目录