name: Nullicn Build
on: push

jobs:
  npm-build:
    name: Nullicn NPM Build
    runs-on: ubuntu-latest
    steps:
      - name: 读取仓库内容
        uses: actions/checkout@v4

      - name: 配置 Node.js 22 环境
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: 安装依赖并构建项目
        run: |
          npm install
          npm run build